* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url(++theme++observatorio/css/boxsizing.htc);
}

body {
    background: url(++theme++observatorio/images/bg.jpg) 48% top no-repeat scroll;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    display: table;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: normal;
    src: url('++theme++observatorio/fonts/Arsenal-Regular-webfont.eot');
    src: url('++theme++observatorio/fonts/Arsenal-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('++theme++observatorio/fonts/Arsenal-Regular-webfont.woff') format('woff'),
    url('++theme++observatorio/fonts/Arsenal-Regular-webfont.ttf') format('truetype'),
    url('++theme++observatorio/fonts/Arsenal-Regular-webfont.svg#Arsenal') format('svg');
}

@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: bold;
    src: url('++theme++observatorio/fonts/Arsenal-Bold-webfont.eot');
    src: url('++theme++observatorio/fonts/Arsenal-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('++theme++observatorio/fonts/Arsenal-Bold-webfont.woff') format('woff'),
    url('++theme++observatorio/fonts/Arsenal-Bold-webfont.ttf') format('truetype'),
    url('++theme++observatorio/fonts/Arsenal-Bold-webfont.svg#ArsenalBold') format('svg');
}

a,
a:link,
a:visited,
a:focus {
    color: rgb(121, 96, 143);
}

a:hover {
    color: rgb(121, 96, 143) !important;
    text-decoration: underline;
}

#content a:link,
#content a:visited,
#content a:focus,
dl.portlet a:link,
dl.portlet a:visited,
dl.portlet a:focus {
    border-bottom: 0;
    color: rgb(79, 58, 96);
}

#content a:hover,
dl.portlet a:hover {
    color: rgb(79, 58, 96) !important;
    text-decoration: underline;
}

#ultimas-noticias {
    display: block !important;
    text-transform: uppercase;
}

#temas h5,
#visualizacoes h5:not(.subheader),
#biblioteca h5,
#calendario h5.retranca,
#participe h5,
section .title,
#column-one h5,
footer a {
    font-family: 'Arsenal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 1.0625em;
    /* XXX: is bigger better? font-size: 1.25em;*/
    font-variant: small-caps;
    font-weight: bold;
    text-rendering: inherit;
}

#column-content #biblioteca h5 {
    display: inline;
    left: -1.25em;
    position: relative;
    top: -3.1em;
    z-index: 5;
}

#biblioteca h5 + hr {
    margin-bottom: -0.5em;
    position: relative;
    top: -2.75em;
}

footer.row {
    margin: 1.5em auto 0.75em;
    padding: 0 0.9375em;
}

footer > div {
    border-top: 1px dashed #000;
    border-bottom: 1px solid #000;
    padding-top: 0.5em;
}

footer .inline-list {
    margin-bottom: 0.5em;
}

footer .inline-list > li:first-child {
    margin-left: 0.4375em;
}

footer a {
    font-size: 1.2em;
}

#participe .panel {
    background: rgb(79, 57, 95);
    border: 0;
    /*border-top: 1em solid rgb(121, 96, 143);*/
    margin-top: 0.75em;
}

#participe h5 {
    background: rgb(121, 96, 143);
    color: rgb(255, 255, 255);
    margin: -3.05em 0 1.25em -0.25em;
    padding: 0.75em 0.5em 0.5em 0.75em;
    width: 9.8em;
}

#participe > div > .panel:before {
    content: "";
    border-bottom: 1em solid rgb(70, 51, 83);
    border-left: 1em solid rgba(0, 0, 0, 0);
    height: 0;
    left: -1.25em;
    position: relative;
    top: -3.4em;
    width: 0;
}

#participe > #boletim > .panel:before {
    left: -1.25em;
}

#participe p,
#participe label {
    color: rgb(231, 226, 235);
}

#contato h5 {
    margin: -3.05em 0 0 -0.25em;
}

#contato div div {
    border: 0;
    text-align: center;
}

#contato .fb_iframe_widget {
    margin-left: -0.625em;
}

#contato a {
    color: rgb(255, 255, 255);
}

#contato .panel .panel {
    background: rgb(231, 226, 235);
}

#contato .panel .panel a {
    color: rgb(79, 58, 96);
}

#contato .panel .panel:last-child {
    background: rgb(157, 113, 171);
}

#contato .panel .panel:last-child a {
    color: rgb(255, 255, 255);
}

#noticias section .title {
    background: rgb(121, 95, 143);
}

#noticias section.active .title {
    background: rgb(79, 58, 96);
}

#noticias section .title a,
#noticias section .title a:hover {
    color: rgb(255, 255, 255) !important;
}

#noticias .content {
    background: rgb(231, 226, 235);
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: 0.5em solid rgb(79, 58, 96);
}

#noticias .content h6,
#noticias .content p {
    color: rgb(79, 58, 96);
}

#noticias .content h6 {
    font-family: 'Arsenal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 1.0625em;
    font-variant: small-caps;
}

#noticias .content p {
    font-size: 0.9375em;
    padding-bottom: 0.5em;
}

#noticias .content h6:not(:first-child) {
    border-top: 1px solid rgb(222, 210, 224);
    padding-top: 0.5em;
}

#column-one #noticias .content p:last-child {
    border-top: 1px solid rgb(222, 210, 224);
    font-size: 0.75em;
    padding: 1em 0 0;
    text-align: right;
}

#column-one #noticias .content p:last-child a {
    color: rgb(157, 113, 171);
}

section .title {
    font-size: 0.9375em;
    font-variant: small-caps;
}

#column-content h5:not(.subheader):not(.retranca) {
    background: rgb(255, 255, 255);
    display: inline-block;
    font-variant: small-caps;
    padding-right: 0.5em;
    /*text-rendering: inherit;*/
}

#column-content h5:not(.subheader) + hr {
    border-color: #000;
    margin-top: -1.25em;
}

.contain-to-grid {
    opacity: 0.95;
}

.top-bar-section .right {
    background: none;
}

.top-bar-section .left li a {
    font-family: 'Arsenal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-variant: small-caps;
}

.top-bar-section ul li > a {
    font-family: 'Arsenal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: 42px;
}

#search-box {
    background: rgb(121, 96, 143);
    border: 0;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    height: 1.4em;
    max-width: 9em;
    padding-left: 2.2em;
    right: 0.5em;
    top: 0.8em;
    width: 5.5em;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    transition-duration: 400ms;
    transition-property: width, background;
    transition-timing-function: ease;
}

#search-box:focus {
    background: rgb(157, 113, 171);
    width: 9em;
}

.search {
    margin-right: 0.9375em;
}

.search-box {
    margin-top: 0.25em;
    margin-left: 0.5em;
    position: relative;
    width: 0.5em;
    height: 0.25em;
    background-color: rgb(255, 255, 255);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.search-box:before {
    border: 0.15em solid rgb(255, 255, 255);
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.7em;
    left: -0.65em;
    position: absolute;
    top: -0.25em;
    width: 0.7em;
}

#biblioteca .search-box {
    border-radius: 0;
    margin-top: -1.9em;
    margin-left: 1.75em;
    width: 0.65em;
    height: 0.35em;
    z-index: 5;
}

#biblioteca .search-box:before {
    border: 0.2em solid rgb(255, 255, 255);
    height: 1em;
    left: -0.9em;
    top: -0.3em;
    width: 1em;
}

#observatorio-e-voce h5,
#galeria-de-fotos h5,
#calendario h5.retranca {
    background: rgb(79, 58, 96);
    color: rgb(255, 255, 255);
    line-height: 1.25em;
    margin-bottom: 0;
    padding: 0.4em 0;
    text-align: center;
}

#observatorio-e-voce h5 {
    font-size: 1.25em;
    font-weight: normal;
    height: 3.25em;
    margin: 0 -0.625em;
}

#observatorio-e-voce h5 span {
    display: block;
    font-size: 1.363125em;
    font-weight: bold;
    margin-left: 0.5em;
}

#galeria-de-fotos h5,
#calendario h5.retranca {
    margin: 0 -0.625em 1em;
}

#galeria-de-fotos {
    padding: 0 0.1em;
}

/* XXX: Remove me */

#galeria-de-fotos a {
    background: rgb(234, 230, 238);
    display: block;
    height: 60px;
    width: 60px;
}

#calendario .content {
    padding: 0 1em;
}

#observatorio-e-voce h5:before,
#galeria-de-fotos h5:before,
#calendario h5.retranca:before {
    border-top: 0.75em solid rgb(70, 51, 83);
    border-left: 0.75em solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: relative;
    width: 0;
}

#observatorio-e-voce h5:before {
    left: -3.35em;
    top: 3.5em;
}

#galeria-de-fotos h5:before {
    left: -3.3em;
    top: 2.25em;
}

#calendario h5.retranca:before {
    left: -2.65em;
    top: 2.35em;
    z-index: 5;
}

#observatorio-e-voce h5:after,
#galeria-de-fotos h5:after,
#calendario h5.retranca:after {
    border-top: 0.75em solid rgb(70, 51, 83);
    border-right: 0.75em solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    position: relative;
    width: 0;
}

#observatorio-e-voce h5:after {
    left: 5.75em;
    top: 1em;
}

#galeria-de-fotos h5:after {
    left: 3.25em;
    top: 2.25em;
}

#calendario h5.retranca:after {
    left: 2.65em;
    top: 2.35em;
}

#observatorio-e-voce select {
    background: rgb(242, 235, 243);
    color: rgb(133, 108, 137);
    font-size: 0.75em;
    width: 15em;
}

#observatorio-e-voce > div {
    background: rgb(231, 226, 235);
    color: rgb(91, 91, 91);
    font-size: 0.875em;
    padding: 1em 0.75em 0.01em;
}

#observatorio-e-voce .pricing-table .price {
    background: none;
    padding-bottom: 0;
}

#observatorio-e-voce .pricing-table .bullet-item {
    border-color: rgb(231, 226, 235);
    display: block;
}

#observatorio-e-voce .pricing-table .title {
    background: rgb(122, 97, 143);
    display: block;
    padding: 0.4375em 1.25em;
    text-transform: uppercase;
}

#observatorio-e-voce .pricing-table .title label {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

#container {
    margin-top: 2em;
    margin-bottom: 2em;
}

#destaques .orbit-bullets {
    margin: -2.5em auto 0 0.9375em;
}

#temas,
#visualizacoes,
#biblioteca {
    margin-bottom: 3em;
}

#visualizacoes h5.subheader {
    color: rgb(91, 91, 91);
    font-size: 0.875em;
    font-weight: 400;
}

#visualizacoes h5.subheader span {
    display: block;
    font-size: 1.25em;
    font-variant: small-caps;
    text-rendering: auto;
}

#visualizacoes .orbit-container {
    border: 1px solid rgb(222, 210, 224);
}

#visualizacoes .orbit-bullets {
    margin: -5px 0 0 15px;
    top: -20px;
}

#visualizacoes > div:nth-child(2) {
    height: 17em;
    position: relative;
}

#visualizacoes .download {
    bottom: 0;
    position: absolute;
    text-transform: uppercase;
}

#visualizacoes .download h6 {
    color: rgb(106, 104, 104);
    font-size: 0.75em;
}

#visualizacoes .button.secondary {
    background-color: rgb(255, 255, 255);
    border-color: rgb(234, 230, 238);
    color: rgb(160, 145, 168);
}

#visualizacoes .button.secondary:focus,
#visualizacoes .button.secondary:hover {
    text-decoration: none;
}

#visualizacoes .button.secondary:hover,
#visualizacoes .button.secondary:focus {
    background-color: rgb(231, 226, 235);
    color: rgb(132, 121, 138);
}

.section-home #menu {
    margin-bottom: 2em;
}

#ultimas-noticias .orbit-prev,
#ultimas-noticias .orbit-next,
#ultimas-noticias .orbit-slide-number,
#visualizacoes .orbit-slide-number,
#biblioteca .orbit-slide-number,
#biblioteca .orbit-timer {
    display: none;
}

#ultimas-noticias h6, {
    font-size: 0.8125em;
    line-height: 1.7;
    margin-bottom: 0;
}

#ultimas-noticias .large-2 span {
    background: #000;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.25em;
    line-height: 1em;
    margin-right: 0.5em;
    height: 1.1em;
    text-align: center;
    width: 1.1em;
}

.orbit-container {
    background: none;
}

.orbit-container .orbit-prev,
.orbit-container .orbit-next {
    background: rgb(79, 58, 96);
    height: 4em;
    width: 2em;
}

.orbit-container .orbit-prev>span {
    right: 0.5em;
}

.orbit-container .orbit-prev {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.orbit-container .orbit-next {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.orbit-bullets li {
    background: rgb(79, 58, 96);
    border: 0;
}

.orbit-bullets li.active {
    background: rgb(250, 177, 0);
}

#ultimas-noticias {
    border-top: 1px dashed #000;
    border-bottom: 1px solid #000;
    padding: 0.375em;
    margin-top: 2em;
    /* XXX: Fix me. */
    /*width: 73%;*/
}

#column-one > div:not(:last-child) {
    margin-bottom: 2em;
}

#apresentacao #logo {
    display: inline-block;
    margin-bottom: 1.5em;
}

#apresentacao li {
    list-style: none;
}

/*#apresentacao .orbit-bullets {
    margin-bottom: 0.625em;
}

#apresentacao .subheader.show-for-small {
    margin: 2em 0 0 !important;
}*/

#temas .has-tip {
    border: 0;
    cursor: pointer;
}

#temas ul {
    margin: 0 -0.625em 0.5em 0;
}

#temas li {
    display: inline-block;
    font-variant: small-caps;
    height: 110px;
    padding-top: 80px;
    width: 144px;
    margin-bottom: 0;
}

#temas li a {
    color: rgb(255, 255, 255) !important;
    font-family: 'Arsenal', 'Helvetica', Helvetica, Arial, sans-serif;
}

#at-autonomia-economica {
    background: rgb(96, 77, 112);
}

#at-educacao {
    background: rgb(250, 177, 0);
}

#at-saude {
    background: rgb(245, 130, 31);
}

#at-violencia {
    background: rgb(122, 97, 143);
}

#at-poder-e-decisao {
    background: rgb(96, 77, 112);
}

#at-desenvolvimento-sustentavel {
    background: rgb(245, 130, 31);
}

#at-comunicacao-e-cultura {
    background: rgb(122, 97, 143);
}

#at-esporte {
    background: rgb(96, 77, 112);
}

#at-diversidade {
    background: rgb(250, 177, 0);
}

#at-uso-do-tempo {
    background: rgb(245, 130, 31);
}

#at-autonomia-economica:hover,
#at-educacao:hover,
#at-saude:hover,
#at-violencia:hover,
#at-poder-e-decisao:hover,
#at-desenvolvimento-sustentavel:hover,
#at-comunicacao-e-cultura:hover,
#at-esporte:hover,
#at-diversidade:hover,
#at-uso-do-tempo:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
}

#at-autonomia-economica:hover a,
#at-educacao:hover a,
#at-saude:hover a,
#at-violencia:hover a,
#at-poder-e-decisao:hover a,
#at-desenvolvimento-sustentavel:hover a,
#at-comunicacao-e-cultura:hover a,
#at-esporte:hover a,
#at-diversidade:hover a,
#at-uso-do-tempo:hover a {
    color: #000 !important;
}

.hachuras {
    background-image: repeating-linear-gradient(-45deg,
    rgba(231, 226, 235, 1), rgba(231, 226, 235, 1) 1px,
    transparent 1px, transparent 3px);
    background-size: 4px 4px;
    margin-bottom: 0.6875em;
}

#temas .hachuras,
#visualizacoes .hachuras {
    height: 0.6875em;
}

#biblioteca {
    padding: 1.625em 1.25em 0;
}

#biblioteca .orbit-container {
    padding: 0 1em;
}

#biblioteca #publicacoes {
    left: -0.9375em;
}

#biblioteca #publicacoes div div {
    overflow: hidden;
}

/*#biblioteca #publicacoes img {
    max-height: 100%;
    max-width: 100%;
}
*/

#biblioteca .slideshow-wrapper {
    height: 230px;
}

#biblioteca input[type=text] {
    background: rgb(231, 226, 235);
    color: rgb(160, 145, 168);
    font-size: 0.875em;
    height: 2.3125em !important;
}

#biblioteca .sub-nav {
    font-size: 0.75em !important;
    margin-bottom: 3.125em;
}

#biblioteca .sub-nav dd.active a {
    background: rgb(157, 113, 171);
    color: rgb(255, 255, 255);
}

#biblioteca .panel {
    background: rgb(255, 255, 255);
    color: rgb(160, 145, 168);
    font-size: 0.8em;
    font-variant: small-caps;
    padding: 0 1.25em;
    position: relative;
    text-align: center;
    text-rendering: auto;
    top: -3em;
}

#biblioteca .button.expand {
    background: rgb(157, 113, 171);
    border: 0;
    font-size: 0.875em;
}

/*#biblioteca form .postfix {
    display: inline-block;
    font-size: 10em;
    width: 0.4em;
    height: 0.4em;
    border: 0.1em solid red;
    position: relative;
    border-radius: 0.35em;
}

#biblioteca form .postfix:before {
    background: red;
    border-width: 0;
    bottom: -0.1em;
    content: "";
    display: inline-block;
    height: 0.08em;
    position: absolute;
    right: -0.25em;
    width: 0.35em;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
    transform: rotate(45deg);
}*/


#biblioteca form .postfix:before {
    width: 6px;
    height: 6px;
    border: 3px solid rgb(197, 85, 0);
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#biblioteca form .postfix:after {
    left: 10px;
    width: 3px;
    height: 7px;
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#biblioteca form .postfix:before,
#biblioteca form .postfix:after {
    margin: -8px 0 0;
    background: rgb(197, 85, 0);
}

#biblioteca form .postfix li:before,
#biblioteca form .postfix li:after,
#biblioteca form .postfix li a:before,
#biblioteca form .postfix li a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
}

#biblioteca dt {
    color: rgb(88, 55, 107);
    font-weight: 600;
    margin-right: 0.5em;
}

#biblioteca dd a {
    color: rgb(157, 113, 171);
    padding: 0.25em 0.75em;
}

#biblioteca dd:not(.active):hover a,
#biblioteca dd:not(.active):focus a {
    background: rgb(250, 177, 0);
    border-radius: 1000px;
    color: rgb(255, 255, 255);
}

#biblioteca .collapse {
    height: 100%;
}

#biblioteca .inline-list {
    font-size: 0.75em !important;
    margin-bottom: 1.5em;
}

#biblioteca .large-4 a {
    /* XXX: Melhor cor padrão? */
    color: rgb(160, 145, 168);
}

#ultimas-noticias .orbit-container .orbit-timer {
    top: 0.7em;
}

#ultimas-noticias .orbit-container .orbit-timer > span {
    top: -0.25em;
}

#calendario .large-2 {
    background: rgb(157, 113, 171);
    color: rgb(255, 255, 255);
    height: 50px;
    padding: 18px 0 0;
    text-align: center;
    width: 50px;
}

#galeria-de-fotos h5,
#calendario h5.retranca {
    font-size: 1.0625em;
}

#calendario h6 {
    color: rgb(79, 58, 96);
    font-size: 0.9375em;
}

#acompanhe .title {
    /**/
}

#enquete .button {
    background: rgb(250, 177, 0);
    border: 0;
    margin: 0;
}

/*#enquete .button:hover,
#enquete .button:focus {
    background-color: rgb(250, 177, 0);
}
*/

#boletim .button {
    background: rgb(157, 113, 171);
    border: 0;
}

#banners a {
    background: rgb(234, 230, 238);
    display: block;
    height: 80px;
    width: 145px;
}

footer li:nth-child(even) a {
    color: rgb(157, 113, 171);
}


/* fix plone */

div.row {
    float: none;
}

.contain-to-grid .top-bar {
    margin: 0 auto;
}

/*.large-9 {*/
/*width: 75%;*/
/*}*/

.column th,
.columns th {
    float: none !important;
}

table.listing th {
    width: auto;
}

#edit-bar {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#content ul.chart-tabs,
ul.chart-tabs {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#content-views,
#contentActionMenus dl {
    margin: 0;
}

label {
    display: inline;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    height: auto;
}

select {
    width: auto;
}

.calendar .button {
    display: table-cell;
}

.calendar table thead tr th,
.calendar table tfoot tr th,
.calendar table tbody tr td,
.calendar table tr td,
.calendar table tfoot tr td {
    text-align: center;
}

.calendar table thead tr th,
.calendar table thead tr td,
.calendar table tfoot tr th,
.calendar table tfoot tr td {
    text-align: center;
}

.has-tip {
    color: #333333 !important;
}

/*a:visited {*/
/*color: #79608F !important;*/
/*}*/

#ultimas-noticias li, #ultimas-noticias h6 {
    font-size: 0.8125em !important;
    line-height: 1.7;
    margin-bottom: 0;
    font-weight: bold;
}

#content {
    font-size: 100%;
}

ul, ol, dl {
    font-size: 1em !important;
}

#barra-brasil .brasilgov {
    width: 108px;
    text-indent: -99999px;
}

#barra-brasil .barra ul {
    margin-bottom: 0;
}

#breadcrumbs-current {
    color: #666;
}

/*#content li, dl.portlet li, div.portletStaticText li {*/
/*display: inline;*/
/*}*/

.button-group {
    margin-left: 0 !important;
}


#left-area {
    width: 14em;
}

#right-area {
    width: 10em;
}

.left-area-js {
    margin-left: 14em;
}

.right-area-js {
    margin-right: 10em;
}

.eea-preview-items .photoAlbumEntry {
    background: none;
    padding: 0 6px;
    margin: 0 0.5em 1em;
    outline: 1px solid #efefef;
    width: 128px;
}

.eea-preview-items .photoAlbumEntryDescription,
.listingBar:first-child,
#salutation,
.easynewsletter_text[name='fullname'] {
    display: none;
}

input.contentchooser-content-trees[type="text"],
input#contentchooser-content-trees[type="text"] {
    border: medium none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
}

#content .download ul {
    list-style: none;
}

#column-one #temas li {
    width: 100px;
}

#eixos ul {
    background: rgb(96, 77, 112);
}

#eixos li a {
    color: rgb(255, 255, 255);
}

#eixos li a:hover {
    background: rgb(157, 113, 171);
}

dl.portletNewsletterSubscriber {
    background: rgb(79, 57, 95);
    color: rgb(255, 255, 255);
}

dl.portletNewsletterSubscriber dt {
    background: rgb(121, 96, 143);
    font-family: 'Arsenal', 'Helvetica', Helvetica, Arial, sans-serif;
    font-variant: small-caps;
}

dl.portletNewsletterSubscriber .easynewsletter_text {
    width: 8em;
}

dl.portletNewsletterSubscriber .easynewsletter_button {
    background: rgb(157, 113, 171);
    border-color: rgb(157, 113, 171);
    color: rgb(255, 255, 255);
    padding: 0 0 2px;
    text-align: center;
    width: 3.75em;
}
